
@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:font-url("icons/icons.eot");
  src:font-url("icons/icons.eot?#iefix") format("embedded-opentype"),
    font-url("icons/icons.ttf") format("truetype"),
    font-url("icons/icons.svg#icons") format("svg"),
    font-url("icons/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}