//
// Colour Pallette.
//

// Blues
$blue:	#34495E;
$blue-dark: darken($blue, 5%);
$blue-light: #5884AF;
$blue-lightest: lighten($blue, 67%);
$blue-faint: lighten($blue, 69%);

// Oranges
$orange: #D24025;
$orange-faint: lighten($orange, 49%);

// Greens
$green: #2C5451;
$green-faint: lighten($green, 69%);