<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Link To Humans -->
        <link rel="author" href="humans.txt" />

        <!-- Description. -->
        <meta name="description" content="{{ page.description | default:site.description }}" />

        <!-- Site Title. -->
        <title>{{ page.title }} &#124; {{ site.name }}</title>

        <!-- Favicons. -->
        <!-- For iPhone with high-resolution Retina display: -->
        <link href="{{ 'favicons/apple-touch-icon-114x114-precomposed.png' | asset_path }}" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png" />
        <!-- For first- and second-generation iPad: -->
        <link href="{{ 'favicons/apple-touch-icon-72x72-precomposed.png' | asset_path }}" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png" />
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link href="{{ 'favicons/apple-touch-icon-57x57-precomposed.png' | asset_path }}" rel="apple-touch-icon-precomposed" type="image/png" />
        <!-- For all other devices -->
        <link href="{{ 'favicons/favicon.ico' | asset_path }}" rel="icon" sizes="16x16 32x32 48x48 128x128" type="image/x-icon" />

        <!-- Include Local CSS Assets. -->
        {{ 'main' | stylesheet }}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            {{ 'html5shiv' | javascript }}
        <![endif]-->        
    </head>
    <body itemscope itemtype="{{ site.micro_format }}" data-analytics-tracking-code="{{ site.analytics.tracking_code }}" data-analytics-tracking-domain="{{ site.analytics.domain }}">
        <!-- Site Content. -->
        {{ content }}

        <!-- Bootstrap JS.. -->
        {{ 'main' | javascript }}
    </body>
</html>