<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Link To Humans -->
        <link rel="author" href="humans.txt" />

        <!-- Description. -->
        <meta name="description" content="{{ page.description | site.description }}" />

        <!-- Site Title. -->
        <title>{{ page.title }} &#124; {{ site.name }}</title>

        <!-- Include Local CSS Assets. -->
        {{ 'main' | stylesheet }}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            {{ 'html5shiv' | javascript }}
        <![endif]-->        
    </head>
    <body>
        <!-- Site Content. -->
        {{ content }}

        <!-- Bootstrap JS.. -->
        {{ 'main' | javascript }}
    </body>
</html>